.component_container {
    margin-top: 100px;
    width: 100vw;
    height: calc(100vh - 56px);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}


.button_group_method, .button_group {
    display: flex;
    gap: 3px;
}

.button_group {
    justify-content: end;
}

.auth_input {
    margin-bottom: 5px;
    width: 285px;
}

.error_message {
    color: #ff0000;
    margin-bottom: 3px;
}