.navbar_container {
    width: 100vw;
    height: 56px;
    background-color: rgb(13, 202, 240);
    display: flex;
    justify-content: center;
}

.navbar_content {
    width: 95vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar_menu {
    display: flex;
    gap: 20px;
}

.navbar_menu_item, .navbar_logo {
    margin: 0;
    font-size: 16px;
}

.navbar_menu_item:hover {
    color: #ffffff;
    cursor: pointer;
}

.navbar_menu_item:active {
    color: #000000;
    cursor: pointer;
}