.component_container {
    width: 100vw;
    height: calc(100vh - 156px);
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.add_book_form_input {
    width: 300px;
}

.add_book_form_container {
    background-color: #e6e6e6;
    height: 600px;
    width: 350px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    padding-top: 20px;
}

.button_container {
    width: 100%;
    display: flex;
    justify-content: end;
}

.book_description {
    height: 100px;
    resize: none;
}

.form-group {
    margin-bottom: 15px;
}

.file_container {
    display: flex;
    flex-direction: column;
}