.component_container {
    width: 100vw;
    height: calc(100vh - 56px);
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.add_book_form_input {
    width: 300px;
}

.add_book_form_container {
    background-color: #e6e6e6;
    height: 430px;
    width: 370px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
}

.button_container {
    width: 100%;
    display: flex;
    justify-content: end;
}
