<div class="container">
    <div class="row">
      <div *ngFor="let book of books" class="col-sm-6 col-md-4 book_row">
        <div class="card">
            <img class="card-img-top book_image" [src]="'assets/' + book.book_image" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text">{{ book.description }}</p>
              <a href="#" class="btn btn-primary">{{book.book_image}}</a>

            </div>
          </div>
      </div>
    </div>
  </div>